/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body{
    font-family: 'PT Sans', sans-serif; 
}

/* UTILS */
.l-container{
    max-width: 1200px;
    margin: 0 auto;
    border: 2px dashed red;
    padding: 0 20px;
}
.m-container{
    max-width: 1080px;
    margin: 0 auto;
    border: 2px dashed red;
}
.bg-v{
    background-color: rgb(151,146,228);
}

/* HEADER */
header{
    height: 100px;
    border: 2px dashed red;
    background-color: rgb(0,132,253);
}
.nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    l-container{
        max-width: 100%;
    }
}
@media screen and (max-width: 576px){
    l-container{
        max-width: 100%;
    }
}

/* APP SECTION */
.app-row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
    margin: 0 -20px;
}
.app-col{
    flex-basis: calc(100% / 3);
    border: 2px dashed red;
    padding: 20px;
}
.app-col-large{
    flex-basis: 66.6%;
    border: 2px dashed red;
    padding: 20px;
}
.app-card{
    background-color: rgb(181,221,255);
    border-radius: 20px;
    padding: 10px;
}
@media screen and (max-width: 576px){
    .app-row{
        flex-direction: column;
    }
}

/* STRATEGIC SECTION */
.strat-section{
    min-height: 500px;
}
.strat-row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
}
.strat-col{
    flex-basis: calc(100% / 2);
    border: 2px dashed red;
    min-height: 300px;
}
.strat-card{
    
}
@media screen and (max-width: 768px){
    m-container{
        max-width: 100%;
    }
    .strat-row{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px){
    m-container{
        max-width: 100%;
    }
    .strat-row{
        flex-direction: column;
    }
}