/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body{
    font-family: 'PT Sans', sans-serif; 
    padding-top: 100px;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
}


/* UTILS */
.l-container{
    max-width: 1200px;
    margin: 0 auto;
    border: 2px dashed red;
}
.m-container{
    max-width: 1080px;
    margin: 0 auto;
    border: 2px dashed red;
}
.s-container{
    max-width: 900px;
    margin: 0 auto;
    border: 2px dashed red;
}
.bg-v{
    background-color: rgb(151,146,228);
}

/* HEADER */
header{
    height: 80px;
    background-color: rgb(0,132,253);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 1px 3px rgb(97,97,97);
}
.nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nav-left , .nav-right{
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-start{
    padding: 5px 17px;
    background-color: white;
    color: black;
    border-radius: 17px;
}
.menu-logo{
    display: none;
    font-size: 35px;
}
@media screen and (max-width: 768px){
    .l-container{
        max-width: 100%;
    }
    .nav-right{
        display: none;
    }
    .menu-logo{
        display: block;
    }
}
@media screen and (max-width: 576px){
    .l-container{
        max-width: 100%;
    }
}

/* APP SECTION */
.app-row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
    margin: 0 -20px;
}
.app-col{
    flex-basis: calc(100% / 3);
    border: 2px dashed red;
    padding: 20px;
}
.app-col-large{
    flex-basis: 66.6%;
    border: 2px dashed red;
    padding: 20px;
}
.app-card-large{
    background-color: rgb(181,221,255);
    border-radius: 20px;
    display: flex;
    min-height: 100%;
}
.app-card-large-left{
    flex-basis: 55%;
    padding:20px;
}
.app-card-large-right{
    flex-basis: 45;
}
.app-card-large img{
    width: 250px;
    margin-top: 20px;
}
.app-button{
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: rgb(0,132,253);
}
.app-card{
    background-color: rgb(181,221,255);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    min-height: 100%;
}
.app-row h3{
    color: rgb(0,132,253);
    margin: 20px 0;
}
.app-card-large-left p{
    color: rgb(97,119,138);
    margin-bottom: 40px;
}
.app-icon{
    font-size: 70px;
    color: rgb(0,132,253);
}

@media screen and (max-width: 768px){
    .app-card-large{
        flex-direction: column;
    }
    .app-card-large-left{
        margin-left: 10px;
    }
}
@media screen and (max-width: 576px){
    .app-row{
        flex-direction: column;
    }
    .app-card-large{
        flex-direction: column;
        align-items: center;
    }
}

/* STRATEGIC SECTION */
.strat-section{
    min-height: 300px;
}
.strat-row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
}
.strat-col{
    flex-basis: calc(100% / 2);
    border: 2px dashed red;
    min-height: 300px;
}
.strat-card{
    
}
@media screen and (max-width: 768px){
    .m-container{
        max-width: 100%;
    }
    .strat-row{
        flex-direction: column;
    }
}
@media screen and (max-width: 576px){
    .m-container{
        max-width: 100%;
    }
    .strat-row{
        flex-direction: column;
    }
}

/* PARTNER SECTION */
.part-text{
    text-align: center;
}
.part-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px dashed red;
    margin: 0 -20px;
}
.part-col{
    border: 2px dashed red;
    flex-basis: calc(100% / 3);
    padding: 20px;
}
.part-card{
    min-height: 300px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}
@media screen and (max-width: 576px) {
    .part-card{
        flex-direction: column;
    }
}

/* BENEFIT SECTION */
.ben-text{
    text-align: center;
    border: 2px dashed red;
}
.ben-row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
    margin: 0 -20px;
}
.ben-col{
    flex-basis: calc(100% / 3);
    border: 2px dashed red;
    padding: 20px;
}
.ben-card{
    border-radius: 20px;
    padding: 10px;
    min-height: 300px;
}
@media screen and (max-width: 768px) {
    .ben-col{
        flex-basis: calc(100% / 2);
    }
}
@media screen and (max-width: 576px) {
    .ben-row{
        flex-direction: column;
    }
}

/* ABOUT SECTION */
.ab-row{
    display: flex;
    flex-wrap: wrap;
    border: 2px dashed red;
}
.ab-col{
    flex-basis: calc(100% / 2);
    border: 2px dashed red;
}
.ab-card{
    padding: 10px;
    min-height: 300px;
}
@media screen and (max-width: 576px) {
    .ab-row{
        flex-direction: column;
    }
}

/* FOOTER */

/* TOP */
.footer-top-text{
    text-align: center;
    padding: 100px;
}

/* BOTTOM */
.footer-bottom{
    background-color: rgb(51,51,51);
}
.footer-bottom-text{
    text-align: center;
    padding: 50px;
    color: white;
}
